# Build artifacts
xmonad/xmonad-x86_64-linux
xmonad/build-x86_64-linux/
xmonad/*.errors
xmonad/*.hi
xmonad/*.o

# Neovim
.config/nvim/plugin/
.config/nvim/.luarc.json
.config/nvim/lazy-lock.json

# Cache
*.swp
*.swo
*~
.DS_Store

# Logs
*.log
